.mask {
  position: fixed;
  top: var(--top-safe-area-height);
  left: 0;
  z-index: var(--z-index-overlay);
  background-color: var(--overlay-mask-bg);
  width: 100%;
  height: calc(100% - var(--top-safe-area-height));
}

.overlay {
  position: fixed;
  top: var(--top-safe-area-height);
  left: 0;
  z-index: calc(var(--z-index-overlay) + 1);
  background-color: var(--overlay-bg);
  width: 16em;
  height: calc(100% - var(--top-safe-area-height));
  color: var(--text);
}

.currentUser {
  padding: 2em 1em;
  background: var(--overlay-user-bg);
  color: var(--overlay-user-text);
}
.action {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.75em 1em;
  &_list {
    padding-top: 1em;
    font-size: 1.25em;
  }
  > .icon {
    margin-right: 0.75em;
  }
}

.icon {
  width: 1.75em;
  height: 1.75em;
  position: relative;
  top: 2px;
}