.button {
  width: 100%;

  &_wrapper {
    padding: 0 1em;
  }
}

.wallet {
  width: 12em;
  height: 12em;
  &_wrapper {
    padding: 8em 0;
  }
}

.navIcon {
  width: 1.875em;
  height: 1.875em;
  position: relative;
  top: 2px;
}