.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #fff 20%, #000);

  > header {
    padding-top: 4.125em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      width: 6rem;
    }
 
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
 
  }
}