:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #fff;
  --welcome-bg-end: #000;
  
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;
  --welcome-nav-height: 4rem;
  --transition-duration: 0.5s;
  --button-bg: rgb(14, 14, 109);
  --button-text: #fff;
  --button-font-size: 1.125rem;
  --button-radius: 0.5rem;
  --button-height: 3rem;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --navbar-bg-start: #0e0e6d;
  --navbar-bg-end: #5d33be;
  --navbar-text: var(--welcome-text);
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --top-safe-area-height: 1.5rem;
  --overlay-user-bg: #0e0e6d;
  --overlay-user-text: white;
  --tabs-indicator-bg: rgba(255, 255, 255,0.4);
  --tabs-selected-bg: rgba(255, 255, 255,0.3);
  --tabs-selected-text: #0e0e6d;

  --button-border-color: #ddd;
  --date-text: #999999;

  --number-button-bg: white;
  --button-bg-important: #5C33BE;
  --button-text-important:white;

  --input-min-height: 3em;
  --input-border-color: #5c33be;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
  --amount-text: #53a867;

  --main: #5c33be;
  --tag-bg: #EFEFEF;

  --button-bg-danger: #E10505;

  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --main: #5c33be;

  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;

  --text: #333;

  --z-index-overlay: 16;
  --z-index-navbar: 32;
}