:root {
  --van-overlay-z-index: 64 !important;
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #fff;
  --welcome-bg-end: #000;

  // startPage
  --start-page-bg: #fbfbfb;


  // navbar
  --navbar-bg-start: #fff;
  --navbar-bg-end: #fff;
  --navbar-text: #000;
  
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;
  --welcome-nav-height: 4rem;
  --transition-duration: 0.5s;
  --button-bg: #0b30e1;
  --button-text: #000;
  --button-font-size: 1.125rem;
  --button-radius: 0.5rem;
  --button-height: 3rem;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: #fbfbfb;
  --top-safe-area-height: 1.5rem;
  --overlay-user-bg: rgba(11, 48, 224,0.8);
  --overlay-user-text: white;
  --overlay-link-selected-text: white;

  // tabs
  --tabs-indicator-bg: rgba(11, 48, 224,0.8);
  --tabs-selected-bg: rgba(11, 48, 224,0.6);
  --tabs-selected-text: #0e0e6d;

  --button-border-color: #ddd;
  --date-text: #999999;

  --number-button-bg: white;
  --button-bg-important: #0b30e1;
  --button-text-important:white;

  --input-min-height: 3em;
  --input-border-color: #5c33be;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
  --amount-text: #53a867;

  --tag-bg: #EFEFEF;

  --button-bg-danger: #E10505;

  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --main: rgba(11, 48, 224,0.6);

  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;

  --text: #333;

  --z-index-overlay: 16;
  --z-index-navbar: 32;

 --app-name-text: #7878FF;

 --text-muted: #666;
 --bar-bg: #CCCCCC;
}